<div class="search-form">
<%= form_tag search_path,class:"form-inline my-2 my-lg-0", method: :get do %>
  <%= text_field_tag :query,
  params[:query],
  class: "form-control",
  placeholder: "Search by product or store" %>
  <%= submit_tag "Search", class: "btn search-button" %>
<% end %>

</div>

