 <div class="search-suggestions p-3">
   <hr>
   <div class="row">
    <% @products.all.sample(4).each do |product| %>
    <div class="col">
      <%= render 'products/product_card', product: product %>
    </div>
    <% end %>
    <div class="row">
      <% @stores.all.sample(4).each do |store| %>
      <div class="col">
        <div class="card">
          <h1><%= store.name %></h1>
          <p><%= store.description %></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <br>
  <br>
  <%= link_to "Back to Homepage", root_path, class: 'btn button m-1' %>
</div>
<br>
<br>
