<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1579001724923-d5927bd1c958?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);">
  <div class="container">
    <h1>The best local shops of <strong>Istanbul</strong></h1>
    <p>Thousands of stores have increased their sales by an average of 20%.</p>
    <a class="btn homepage-primary-button" href=" <%= stores_path %>">Join now ➜</a>
  </div>
</div>

<div class="container text-center" style="padding-top: 40px">
  <h2><b>How it works</b></h2>
    <div class="info-cards">
      <div class="info-card">
      <div class="info-card-img"> <%= image_tag "logo.png", class: "card-img" %> </div>
      <h4><b>Value Proposal</b></h4>
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="info-card">
      <div class="info-card-img"> <%= image_tag "logo.png", class: "card-img" %> </div>
      <h4><b>Value Proposal</b></h4>
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="info-card">
      <div class="info-card-img"> <%= image_tag "logo.png", class: "card-img" %> </div>
      <h4><b>Value Proposal</b></h4>
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
  </div>
</div>
  <div class="banner text-align" style="background: red">
    <p>To add: another nice thing about the service</p>
  </div>



