<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>We bring you the best local shops of <strong>Istanbul</strong>!</h1>
    <!-- <p>hange your life and learn to code at one of our campuses around the world.</p> -->
    <a class="btn btn-flat" href=" <%= stores_path %>">Discover more</a>
  </div>
</div>


<div class="logos-container">
  <img alt="Forbes" class="forbes" srcset="https://cdn.earnwithdrop.com/assets/website/press/img_forbes-634a8a8b3c702697d3d5d571d81d563d9cdcda12105d86fc2b512c1a9f2e35fc.png 1x, https://cdn.earnwithdrop.com/assets/website/press/img_forbes@2x-f69cff89c4a68b7a507a8c166f8848b7bf422ed8b815362f7505308092427ba4.png 2x" src="https://cdn.earnwithdrop.com/assets/website/press/img_forbes-634a8a8b3c702697d3d5d571d81d563d9cdcda12105d86fc2b512c1a9f2e35fc.png" width="101">
  <img alt="Business Insider" class="business-insider" srcset="https://cdn.earnwithdrop.com/assets/website/press/img_business_insider-1566986032375fde68ecfe4364a5a531879e67c68c800256bf0c4aa9f7bbc332.png 1x, https://cdn.earnwithdrop.com/assets/website/press/img_business_insider@2x-bcb3d6b0804d011a50b0ef9a6f5cee1458744d9430879d09398cafc796ededaa.png 2x" src="https://cdn.earnwithdrop.com/assets/website/press/img_business_insider-1566986032375fde68ecfe4364a5a531879e67c68c800256bf0c4aa9f7bbc332.png" width="71">
  <img alt="Wall Street Journal" class="wsj-short" srcset="https://cdn.earnwithdrop.com/assets/website/press/wsj-short-d953fe14e8031c9982d36a6dc8e57f2e1aa05412b3500eeab60a514ca3e1ef36.png 1x, https://cdn.earnwithdrop.com/assets/website/press/wsj-short@2x-64d0445a39c9bbbd55981c440d852a856922150263fd8692105dd010e37111ea.png 2x" src="https://cdn.earnwithdrop.com/assets/website/press/wsj-short-d953fe14e8031c9982d36a6dc8e57f2e1aa05412b3500eeab60a514ca3e1ef36.png" width="47">
  <img alt="Buzzfeed" class="buzzfeed" srcset="https://cdn.earnwithdrop.com/assets/website/press/img_buzzfeed-03793ef69286246a426489d1162cfbda1db7186baa8f345afc4a6fb71f29cb46.png 1x, https://cdn.earnwithdrop.com/assets/website/press/img_buzzfeed@2x-321ce70849be56a7996ffde25ae9ef244e7c898c9c5ba611788862c3bb1bc684.png 2x" src="https://cdn.earnwithdrop.com/assets/website/press/img_buzzfeed-03793ef69286246a426489d1162cfbda1db7186baa8f345afc4a6fb71f29cb46.png" width="148">
  <img alt="Inc" class="inc" srcset="https://cdn.earnwithdrop.com/assets/website/press/img_inc-7a89f31c8ecfc2f1ab98289c7f6b2e1f767dc1562af46d4a828c31b873ca25bc.png 1x, https://cdn.earnwithdrop.com/assets/website/press/img_inc@2x-497794a3c70fcd973d0a96a776e5410fa9df0045023a59ce3ede19e135380434.png 2x" src="https://cdn.earnwithdrop.com/assets/website/press/img_inc-7a89f31c8ecfc2f1ab98289c7f6b2e1f767dc1562af46d4a828c31b873ca25bc.png" width="63">
</div>
<div class="container" style="text-align: center;">
  <h2>"The most innovative Turkish app of 2020."</h2>
  <p><i>The Wall Street Journal</i></p>
</div>

