.banner {
  background-size: cover;
  background-position: center;
  display: flex;
  text-align: center;
  color: white;
  padding: 150px 0;
}


.banner h1 {
  margin: 1.5rem;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 1.3rem;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  padding-bottom: 20px;
}


