.button{
  background-color: #10E380;
  color: white;
  border-radius: 10rem;
  margin: 30px;
  text-align: center;
  text-transform: uppercase;
  padding: 12px 32px;
  border-radius: 50px;
}

.button:hover{
  background-color: #0DBF6C;
  color: white;
}

.button-secondary{
background-color: #EE4266;
color: white;
}

.button-secondary:hover{
  color: white;
}


.homepage-primary-button{
  background-color: #10E380;
  color: white;
  border-radius: 10rem;
  text-align: center;
  text-transform: uppercase;
  padding: 12px 32px;
  border-radius: 50px;
}

.homepage-primary-button:hover{
  background-color: #0DBF6C;
  color: white;
}
