.button{
  background-color: #10E380;
  color: white;
  border-radius: 5px;
  padding: 15px;
}

.button-first{
  background-color: #10E380;
  color: white;
  border-radius: 5px;
  padding: 15px;
}

.button-first:hover{
  background-color: #0DBF6C;
  color: white;
}

.button-secondary{
background-color: #EE4266;
color: white;
}

.button-secondary:hover{
  color: white;
}
