.container {
  max-width: 1000px;
  height: 100%;

}

.container h1 h2 p {
  text-align: center;
  margin-bottom: 25px;

}

.text-center {
  text-align: center;

}

.homepage-container-info {
  height: 300px;
  color: white;

}

.container-lg-width {
  width: 1000px;
  height: 100%;

}
