.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: rgba(55, 60, 70, 0.1) 0rem 0rem 2.4rem -0.4rem;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: white;
}
