<h1>Products</h1>

<% @products.each do |product| %>
        <h2><%= link_to product.name, store_product_path(@store, product) %></h2>
        <h3><%= product.price %></h3>
        <% end %>


<%= link_to "Back to the store", store_path(@store) %>
