// css for the show page
.show-page-container {
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.similiar-items {
  display: inline-flex;
}

.image-container {
 margin: 30px;
 width: 400px;
 height: 500px;
}

.product-img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.product-info {
  display: grid;
  width: 400px;
  height: 500px;
  margin: 20px;
  padding-top: 40px;
  padding-left: 20px;
  border-radius: 5px;
}

.similiar-items {
  margin: 10px;
}

#similiar-header{
  padding: 10px;
}

.add-btn {
  text-align: center;
}

.backlinks {
  margin-top: 50px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.fa-trash {
  font-size: 36px;
}

.fa-info-circle {
  font-size: 24px;
}
